*.csv
*.pyc
*.txt
*.zip
*.xlsx
*.log
/Educação/Dados (Amostra)/
Educação/notebooks/.ipynb_checkpoints/Protótipo-checkpoint.ipynb
Educação/notebooks/.ipynb_checkpoints/Exploração - Censo Escolar - Escolas-checkpoint.ipynb
*.ipynb_checkpoints